body {
    font-family: sans-serif;

}

.conectado {
    max-width: 100% auto;
    display: block;

}

header {
    margin-bottom: 2px solid blue;
    
}


img {
    max-width: 100%;
    padding: auto;
}



