html {
  font-size: 62, 5%;
}

body {
  background-color: rgb(224, 219, 219);
  font-size: 62, 5%;
}

.main-container {
  background-color: aliceblue;
  max-width: 1198px; /*largura maxima*/
  margin: 0 auto; /*Centralizar os conteúdo nas laterais*/
  padding: 20px; /*Espaçamento*/
}

header {
  background: #fff;
  display: block;
  float: left;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #254159;

}

h1 {
  color: brown;
  font-size: 2.4rem;
  margin-bottom: 20px;

}

h2 {
  color:blue;
  font-size: 1.5rem;

}