html {
  font-size: 62, 5%;
}

body {
  background-color: rgb(75, 88, 100);
  font-family: 'Source Sans Pro', sans-serif;
}

.main-container {
  background-color: aliceblue;
  max-width: 1198px; /*largura maxima*/
  margin: 0 auto; /*Centralizar os conteúdo nas laterais*/
  padding: 20px; /*Espaçamento*/
}

header {
  background: aliceblue;
  display: block;
  float: left;
  padding: 20px;
  width: 96%;
  border-bottom: 1px solid #254159;

}

h1 {
  color: brown;
  font-size: 2.4rem;
  margin-bottom: 20px;

}

h2 {
  color:#254159;
  font-size: 1.5rem;

}

h3 {
  color:#254159;
  font-size: 1.5rem;
}

h4 {
  color: #254159;
  font-size: 1.5rem;
}